#rank .main-body-container{
  background: #192d40;
  border: 5px solid #4d5866;
  border-top: 0;
  display: flex;
  margin-bottom: 63px;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 60px;
  height: 100vh;
}

#rank .rank-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;

}

#rank .rank-container svg{
  margin: 20px;
}